*, *::after, *::before{
    box-sizing: border-box;
    --font-color:hsl(271, 62%, 57%);
    /* --font-color:hsl(281, 49%, 92%); */
    font-family: monospace;
}
:root {
    --primary-color: #292c35;
    --secondary-color: lightgrey;
    --tertiary-color: white;
}
  body.light {
    background-color: lightgrey;
    --tertiary-color: black;
    color: black;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 40px;
    height: 10px;
    background-color:#111;
    display: flex;
    border-radius:25px;
    align-items: center;
    justify-content: space-between;
    top: 5px;
    padding: 10px;
    position: relative;
    transform: scale(1);
  }
  
  .ball {
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    /* background-color: hsl(208, 36%, 9%); */
    background-color: var(--primary-color);
    color: white;
    /* padding: 1em; */
    /* font-size: clamp(.5rem,2.5vmin,1.5rem); */
}

.analysis{
    /* display: none; */
    font-size: 1.5em;
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(30, minmax(auto,1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
    margin-bottom: 50px;
}

.paragraph-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph{
    width: 90%;
    color: white;
    font-size: 2rem;
    margin: 5px 5px 5px 5px;
}

.cursor{
    background-color: rgb(94, 224, 126);
    /* animation: animate 1.5s linear infinite; */
}

@keyframes animate {
    0%{
        background-color: rgba(94, 224, 126,0);
    }
    50%{
        background-color: rgba(94, 224, 126,0.7);
    }
    100%{
        background-color: rgba(94, 224, 126,0);
    }
}

.key{
    font-size: inherit;
    grid-column: span 2;
    /* border: none; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* background-color: hsl(208, 36%, 9%); */
    background-color: hsl(
        var(--hue,208), var(--sat,36%),var(--light,9%)
    );
    color: var(--font-color);
    border-color: var(--font-color);
    border-radius: 10%;
}

.key.large{
    grid-column: span 3;
}

.key.large1{
    grid-column: span 4;
}
.key.large2{
    grid-column: span 5;
}
.key.large3{
    grid-column: span 14;
}

.focused{
    /* --light:20%; */
    --hue:281;
    --sat:49%;
    --light:94%;
    border: none;
}
.untyped{
    color: blue;
}
.correct{
    color: var(--tertiary-color);
}
.wrong{
    color: red;
}
.wrong-space{
    color: red;
    border-bottom: 1px solid red;
}