*,
*::after,
*::before {
    box-sizing: border-box;
    --font-color: hsl(271, 62%, 57%);
    font-family: monospace;
}

body {
    min-height: 100vh;
    padding-bottom: 10px;
    background-color: hsl(208, 36%, 9%);
    background-image: url('/assets/keyboard1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: hsl(101, 35%, 9%); */
    /* color: white; */
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

:root {
    --primary-color: #292c35;
    --secondary-color: lightgrey;
    --tertiary-color: white;
}

body.light {
    background-color: lightgrey;
    --tertiary-color: black;
    color: black;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 40px;
    height: 10px;
    background-color: #111;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    top: 5px;
    padding: 10px;
    position: relative;
    transform: scale(1);
}

.ball {
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: pink;
}

.fa-sun {
    color: yellow;
}
